*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
  --deep-charcoal: #232329;
  --dark-charcoal:#141418;
  --burnished-gold: #b8860b;
  --electric-teal: #008080;
  --deep-dark-teal: #006666;
 --light-gold: #E6C76A;
 --transparent-gold: rgba(184, 134, 11, 0.2);
  --ivory:#fffaf0;
  --gray:#6b7280 ;
 
}

.linkAnimation{
    animation:shakeX ;
    animation-duration: 1s;
    animation-delay: 1s;
   
}
body{
  background: var(--deep-charcoal);
  color: var(--gray);
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
   overflow-x: hidden;
   margin: 0;
   padding: 0;
   font-size: 18px;
}
a{
    color: inherit;
    text-decoration: none;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    font-size: clamp(2rem, 8vw, 4rem);
  line-height: 1.1;
  color: var(--ivory);
}

h2, h3, h4, h5, h6{
  font-family: "Cabin", sans-serif;
  text-transform: capitalize;
  color: var(--ivory);
}

hr{
    height: 2px;
    color: white;
    background: white;
    padding: 0%;
    margin: 0%;
}
iframe, video{
    max-width: 100%;
    height: auto;
    margin: 3% 0;
}

section >.container-fluid, footer > .container-fluid{
    padding: 3% 5%;
}
#carousel-section-testimonial  .container-fluid{
    padding:5% 10% 1% 10%;
}

/* btn btn button button btn btn */

.borderlessbtn{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--burnished-gold);
}
.btn{
  text-transform: capitalize;
   white-space: nowrap;
   margin-right: 10px;
   margin-bottom: 10px;
   
  } 

.btnPrimary{
    background-color: var(--burnished-gold);
  
  color: white;
}

.btnSecondary{
   background-color: none;
   border: solid 1px var(--light-gold);
  color: white;
}
.btnSuccess:hover{
  background-color: var(--deep-dark-teal);
  color: white;
}
.btnSuccess{
  background-color: var(--electric-teal);
  color: white;
}

.btnPrimary:hover, .btnSecondary:hover{
background-color: var(--light-gold);
  color: white;
}
.btn-xl {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}





.more-less-button{
    background: none;
    color: white;
}


.second-more-less-button{
    margin: 2% 0;
    background: none;
    color: white;
}

/* ***********navbar */

/* .carousel-section{
    text-align: left ;
    padding: 15% 25% 15% 13%;
    font-size: 2.3vw;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--deep-charcoal);
}.carousel-readmore{
    font-size: 1.8vw;
    border: none;
    outline: none;
    background: transparent;
    text-transform: lowercase;
} */

.ejuandy-logo{
    width: 32%;
}

.navbar{
    padding: 1% 5%;
    
}
.nav-link{
    text-transform: capitalize;
}
.nav-texts{
    font-size:0.8vw ;
    text-transform: capitalize;
}

.readmore-btn{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.0vw;
}
@media (max-width:600px) {
    .readmore-btn{
        font-size: 1.7vw;
    }
}

.badge{
    color:var(--light-gold);
    text-transform: uppercase;
}
p.subtopic {
    font-size: 20px; /* bigger than body text */
    font-weight: 500; /* slightly bolder, optional */
    margin-top: 10px;
    margin-bottom: 15px;
}

/* hero-section hero-section hero-section */
#hero{
  background-image: url('./asset/arrangement-movie-elements-white-background-with-copy-space.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
  text-align: center;
}

#hero .container-fluid{
  color: var(--ivory);
  background: linear-gradient(
  to right,
  var(--deep-charcoal),
  transparent 500% 
  
);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-write{
    color: var(--burnished-gold);
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.button-container .btn {
  width: 100%;
}

/* **********testimonial-section******** */
#carousel-section-testimonial{
    text-align: center;
}

/* servicee---servcies---service *//* *********service-section************ */
.icon-style {
  font-size: 32px;
  background: var(--transparent-gold);
  color: var(--light-gold);
  padding: 14px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content; /* prevents full width */
}
.serviceCard{
  background-color: var(--dark-charcoal);
  padding: 30px;
  border-radius:20px ;
  box-shadow: 0 4px 6px -1px var(--light-gold);
 
}

    
   



.isLoading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: none;


}
.modalLink{
    color: rgb(38, 69, 138);
    text-decoration: underline;
}

@media (max-width: 992px) {
    .ant-picker-panel:last-child .ant-picker-date-panel {
      display: none !important;
    }
  
    .ant-picker-panel:first-child
      .ant-picker-date-panel
      .ant-picker-header-next-btn,
    .ant-picker-panel:first-child
      .ant-picker-date-panel
      .ant-picker-header-super-next-btn {
      visibility: initial !important;
    }
  
    .ant-picker-panel.ant-picker-range-wrapper {
      min-width: 288px !important;
    }
  
    .ant-picker-presets {
      display: none !important;
    }
  }
/* loading loader */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--burnished-gold);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--electric-teal) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


/* animation animation animation animation animation animation */
.sectionAnimationLeft{
  scroll-behavior: smooth;
  animation: backInLeft;
  animation-duration: 1.5s;
}
.sectionAnimationDown{
  scroll-behavior: smooth;
  animation:fadeInDownBig;
  animation-duration: 1.2s;
}

.sectionAnimationUp{
  scroll-behavior: smooth;
  animation:fadeInUpBig;
  animation-duration: 1.2s;

}
.sectionAnimationRight{
  scroll-behavior: smooth;
  animation: backInRight;
  animation-duration: 1.2s;
}